/* font-family: 'Big Shoulders Display', cursive;

font-family: 'Neucha', cursive;

font-family: 'Open Sans Condensed', sans-serif; */

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    color: rgba(255, 255, 255, 1.0);
    font-size: 20px;
    
}

th, td{
    color: rgba(255, 255, 255, 1.0);
    border:none;
    background-color: rosybrown;
}

.main{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/* COLOR PALETTE */

.color1{
    background-color: #eab020;
}

.color2{
    background-color: #c0ca24;
}

.color3{
    background-color: #41d09e;
}

.color4{
    background-color: #3ac2e9;
}

.color5{
    background-color: #60aaf8;
}

.color6{
    background-color: #f97e86;
}

/* NAVBAR */

.navbar{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-expand-lg a{
    display: inline;
    margin-left: 10px;
}

#opacity{
    background-color: rgba(0,0,0,0.8);
}

 h1{
    color: rgba(255,255,255,0.8);
    letter-spacing: 3px;
    font-size: 50px;
}

/* DROP-DOWN BUTTON NAVBAR */

.navbar-light .navbar-toggler-icon {
    background-image: url("img/Coffee-Cup-Silhouette.svg");
    background-size: cover;
    filter: invert(0.5);
    background-color: rgba(0, 0, 0, 0.0);
 }
 

 .navbar-light .navbar-toggler-icon:hover{
    filter: invert(1.0);
    transition:0.25s;
}



#logo{
    padding: 50px 0px 50px 0px;
    filter: invert(0.9);
    width: 250px;
    
}

#arrow-down{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80px ;
    filter:invert(0.8)
}




/* PANELS */

.thumbnail {
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: fill;
}









/* MENU PAGE */

.sandwich{
    width: 250px;
    margin: auto;
    height: 90px;
}

.price{
    text-align: right;
    width: 150px;

}

.picsandwich{
    height: 250px;
    background-image: url("img/tasse.png");
    background-size: 250px 120px;
    background-repeat: no-repeat;
    background-position: 50px 20px;
    background-color: #60aaf8;

}


 .picboissons{
    height: 200px;
    background-image: url("img/cafe.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
    background-position: 100px 20px;
}


.picpomme{
    height: 200px;
    background-image: url("img/pomme2.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
    background-position: right;
}


/* GALERIE PAGE */

.pagination li a{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.card{
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* CONTACT PAGE */

.cuisinepic{
    background-image: url("img/cuisine.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    background-position: center;
    max-width: 750px;
    margin: auto;
    margin-top: 100px;
}

form{
    background-color: rgba(0,0,0,0.5);
    margin: -12px;
    border-radius: 15px;
}

.form-control:valid {
    background-color:  rgba(255, 255, 255, 0.8)!important;
    color:black;
  }







/* FOOTER */

.social a{
margin-left:10px;
margin-right: 10px;
color:#eab020;
text-decoration: none;
}

footer{
    font-size: 15px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    background-color: rgba(0,0,0,0.8);
}



/* RESPONSIVE */

@media screen and (min-width: 768px){
    body{
        max-width:1000px;
        margin: auto;
    }

    .cardsResponsive{
        width:800px;
    }
    

}